/*
    Name           : CaseDetailSubview.css
    Author         : Parth Lukhi
    Description    : Stlyle sheet used for CaseDetailSubview component
    JIRA ID        : PUX-15 
*/

.THIS .hideFirstTab li:first-child {
    display: none;
    margin-top: 5px;
}
.THIS .slds-tabs--default__content {
    position: relative;
    padding: 0rem 0;
}
.THIS .slds-tabs--scoped__content {
    padding: 0rem;
}