/*
    Name           : CaseDetailViewOverride.css
    Author         : Ashish Kr.
    Description    : Style sheet used for CaseDetailView component
*/
.THIS {
    margin: -10px;
}
.THIS .slds-active > a {
    color : white !important;
}
.THIS .slds-brand-band.slds-brand-band_medium.slds-template_default.forceBrandBand{
    padding: 2px !important; 
}
.THIS .slds-p-around--small.slds-col{
	padding: 0px !important;   
    width: 100%;
}

.THIS .slds-p-around_small.slds-col {    
    width: 1600px;
    height: 262px;
}
.THIS .common {
    background-color: #00a3e2;
    width: 6%;
    min-width:6%;
    min-height: 100vh;
}
.THIS.mybody {
    overflow: auto;
    min-height: 100vh;
    background: #f5f6fa;
}
.THIS .center-algn {
    text-align: center;
}
.THIS .img-sidebar {
    padding: 10px;
}
.THIS .slds-tabs--default__link {
    text-decoration: none !important;
    color: #fff;
}
.THIS .slds-tabs--scoped__link {
    text-decoration: none !important;
    color: #000000;
}
.THIS .slds-tabs_scoped__nav {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .padding-all {
    padding: 5px;
}
.THIS .activeIcon {
    background: #0773a8;
    cursor: pointer;
}
.THIS .inActiveIcon {
    background: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.THIS .padding-side {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    height: 120%;
    vertical-align: middle;
    cursor: pointer;
    height: 61px;
}
.THIS .slds-text-title_caps,
.THIS .slds-text-title--caps {
    text-decoration-color: black;
    text-transform: none;
}
.THIS .full-size {
    height: 100%;
    width: 100%;
}


.THIS .sideImgDiv {
    background-color: red;
}
.THIS .sideTd {
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    height: 72px;
    width: 72px;
}
.THIS .margin-top-5 {
    margin-top: 5px;
}
.THIS .margin-top-10 {
    margin-top: 10px;
}
.THIS .margin-top-15 {
    margin-top: 15px;
}
.THIS .margin-top-20 {
    margin-top: 20px;
}
.THIS .dropdown-1 {
    border: 0px;
    border-bottom: 0.5px #b0b5b8;
}
.THIS .a {
    text-decoration: none !important;
}
.THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
}
.THIS .margin-right-10 {
    margin-right: 10px;
}

.THIS .CloseBtn{
	right: 40.8% !important;
}