.THIS selectedAttachment{
        border: 2px solid green;
}
.THIS .slds-box{
    width: 100% !important;
}
.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 20px !important;
}
.THIS .slds-text-heading_small {
    color: black !important;
}