.THIS table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   
}
.THIS th {
    text-align: left;
    padding: 8px;
}
.THIS td {
    text-align: left;
    padding: 8px;
}
.THIS .slds-box{
    height:auto;
}
.THIS .mainHeader{
    background-color:#00a3e2;
    color: rgb(255, 255, 255);
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 100%;
}
.THIS ::-webkit-scrollbar {
    height: 6px;
}
.THIS .contentDiv{
    margin-top: -11px;
}
.THIS .scrollHorizon{
    overflow-x :scroll;
    overflow-y:scroll;
    max-height: 400px;
}

/*Vandita | ESMPROD-1303  | Start */ 

.THIS .uiInput--input .input, .THIS .uiInput--input.input {
        min-height: 0px;
}
/*vandita | ESMPROD-1303  | End*/

/* Handle
.THIS ::-webkit-scrollbar {
    width: 10px;
}
.THIS ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.THIS ::-webkit-scrollbar-thumb {
    background: #888; 
}

.THIS ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.THIS .mostly-customized-scrollbar::-moz-scrollbar {
    width: 10px;
}
.THIS .slds-scrollable--y::-moz-scrollbar-track {
    background: #f1f1f1; 
} 


.THIS .mostly-customized-scrollbar::-moz-scrollbar-thumb {
    background: #888; 
}


.THIS .slds-scrollable--y::-moz-scrollbar-thumb:hover {
    background: #555; 
}

/*.THIS tr:nth-child(even){background-color: #f2f2f2}*/