.THIS .classic .card{
    background:#5e6468;
}
.THIS .scrollEmails{
    max-height: 40px;
    overflow-y: auto;
}

.THIS .slds-dropdown-trigger_click.slds-is-open .slds-dropdown {
    display: block;
    visibility: visible;
    opacity: 1;
    top: auto;
    bottom: 100%;
}

.THIS .classic .slds-card__header{
    height: 35px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #0773a8;
    /*background-color: #5e6468;*/
}
.THIS .classic .white .slds-icon-text-default{ 
    fill: white; 
}
.THIS .classic .black .slds-icon-text-default{ 
    fill: black; 
}
.THIS .classic .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.THIS .classic{
    background-color: #ffffff;
}
.THIS .plain{
    background-color: #ffffff;
    border: 0px solid rgb(216, 221, 230);
}

.THIS .plain .slds-card__header{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /*margin-bottom: .75rem; */
    padding-left: .7em;
    margin-bottom: 0.5em;
    background-color: #ffffff;
}
.THIS .plain .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #666c70;
}
.THIS .dropdown .slds-grow{
    
    width: 95%;
}
.THIS .emailInput{
    width:80%;
    border-radius: 0rem;
    border: none;
    border-color: transparent;
    outline: none;
    -webkit-box-shadow: none !important;
}
.THIS .hide{
    display:none;
}
.THIS .show{
    display:table;
}
.THIS .bottomborder .slds-wrap{
    border-bottom: 1px solid rgb(216, 221, 230);
    padding-bottom: 2px;
    padding-top: 2px;
}
.THIS .bottomborder .slds-grow {
    width: 95% !important;
}
.THIS .slds-pill_container{
    border: 0px solid rgb(216, 221, 230);
}
.THIS.scrollerSize {
    height: 300px;
}
.THIS.slds-rich-text-editor.slds-has-focus {
    border-color: white;
    box-shadow: 0 0 0px #0070d2;
    border-bottom-width: 0px;
}
/*-- Start : PUX-199 */
.THIS .showme{
    display:inline;
}
.THIS .hideme{
    display:none;
}
/*-- End : PUX-199 */
.THIS .font-red{
 	color:red;   
}
.THIS .toggle .slds-form-element__label {
     display: inline-block; 
}
/*PUX-342*/
.THIS .slds-rich-text-area__content {
    min-height: 13rem;
    max-height: 4000rem;
}
/*PUX-342*/
.THIS .slds-form-element__label{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #5e6468;
    word-wrap: break-word;
}
.THIS .toolbarhidden .slds-rich-text-editor__toolbar{
    display: none !important;
}
.THIS .toolbarActions{
    width: 32%;
}
.THIS .slds-badge{
    text-transform: capitalize !important;
}
.THIS .smallDropdown .slds-select{
        height: 27px !important;
}

.THIS .slds-checkbox--faux:before{
	
    top: 1px !important;
    right: 1px !important;
    width: 0.70rem !important;
    height: 0.70rem !important;
    
}
.THIS .slds-checkbox--faux:after{
   
    top: .1rem !important;
    left: .2rem !important;
    height: .5rem !important;
    width: .23rem !important;
}
.THIS .slds-checkbox--faux{
    width: 1.5rem !important;
    height: 1rem !important;
    border: 1px solid rgb(171, 173, 176);
    padding: .125rem;
}
.THIS .slds-icon--xx-small {
    width: .875rem !important;
    height: .875rem !important;
    line-height: 1;
}
.THIS .slds-pill{
    min-height: 1.2rem !important;
}
.THIS .slds-pill__action{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.THIS .slds-pill__icon_container{
    width: 1rem !important;
    height: 1rem !important;
}
.THIS .slds-badge {
    margin-left: 0rem !important;
}

.THIS .slds-dropdown-trigger--click.slds-is-open .slds-dropdown {
    display: block;
    visibility: visible;
    opacity: 1;
    top: auto;
    bottom: 100%;
}
.THIS .boldText{
	font-weight: bold;
}
.THIS .position_fixed{
	position:fixed;
}
.THIS .slds-spinner_container{
    position:fixed;
}
.THIS .slds-text-heading_small{
	color:white;
}

.THIS .plain .slds-text-heading_small{
	color: black;
}