/*
 * Authors		: Parth Lukhi
 * Date created : 17/08/2017 
 * Purpose      : Stlyle sheet used for Creat New Case View
 * Dependencies :  NA
 * -------------------------------------------------
 *Modifications:
                Date:  
                Purpose of modification:  
                Method/Code segment modified: 

*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .newcasecard {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.THIS .caseContainer {
    width: 100%;
    height: 65%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.THIS .Rectangle-13 {
    width: 90%;
    height: 100%;
    background-color: rgba(0, 163, 226, 0.05);
    border: dashed 1px #00a3e2;
}

.THIS .greyfont6 {
    font-size: 12px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #b0b5b8;
}
.THIS .myTextArea {
    resize: none;
}
.THIS .Rectangle-16 {
    height: 20px;
    border-radius: 1px;
    background-color: #dff4ff;
    border: solid 0.5px #c5e2f3;
    margin: 0px;
}
.THIS .Rectangle-1 {
    border-radius: 1px;
    background-color: #dff4ff;
    border: solid 0.5px #c5e2f3;
    margin: 0px;
}
.THIS .case-attachment {
    /* width: 170px;*/
    
    display: inline-flex;
}
.THIS .unselectedRadioWrap {} .THIS .display_hide {
    display: none;
}
.THIS .radio-unselect-wrap {
    background-image: url(/resource/icon_img/icons/unselected-case-icon.png);
    width: 25px;
    height: 25px;
    margin: 11px;
}
.THIS .radio-select-wrap {
    background-image: url(/resource/icon_img/icons/selected-case-icon.png);
    width: 25px;
    height: 25px;
    margin: 11px;
}
.THIS .slds-p-around_small,.THIS .slds-p-around--small {
    padding: 0.25rem;
}
.THIS .slds-grid{
    width:100%;
}
.THIS .slds-form-element__label{
    font-family: 'Salesforce Sans', Arial, sans-serif ;
    font-size: 0.75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #706e6b;
    word-wrap: break-word;
}
.THIS .slds-spinner_container{
    position:fixed;
}