@import url('https://fonts.googleapis.com/css?family=Roboto');

.THIS .trimDivContent{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
    
}
.THIS .layer {
   
   font-size: 19px;
   font-weight: 600;
   text-align: left;
   color: #0773a8;
}
.THIS .columnHeader{
	color: #afb4b7;
}
.THIS .Not-yet-received-my{
font-family: 'Salesforce Sans',Arial,sans-serif!important;
    font-size: 16px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}