.THIS .lookupInput{
        width: 88% !important;
}
.THIS .slds-textarea{
    height:45px !important;
}
.THIS .searchlookupInput{
       width: 96% !important;
}
.THIS .multiPicklist{
    text-transform: none;
    background-color: rgb(255, 255, 255);
    color: rgb(62, 62, 60);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
}
.THIS .uiLabel{
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: .75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #706e6b;
    word-wrap: break-word;
}