/*
  Authors	   :   Rahul Pastagiya
  Date created :   10/08/2017
  Purpose      :   Stylesheet for component
  Dependencies :   None
  __________________________________________________________________________
  Modifications:
		    Date:  
		    Purpose of modification:  
		    Method/Code segment modified: 
*/

.THIS .Shape-Copy {
    width: 100%;
    border: 0px!Important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ffffff;
    /*box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);*/
}
.THIS .hideMe {
    display: none;
}
/*PUX-213*/

.THIS .showMe {
    display: flexbox;
}
.THIS.leftBoder {
    margin: 8px 15px 8px 15px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2)
}
.THIS .sldc-card_header-2 {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0px;
    padding-bottom: 12px;
}