.THIS .slds-form-element__label {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: .75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #706e6b;
    word-wrap: break-word;
}
.THIS .slds-has-error-picklist {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}
.THIS .isRequiredCustomClass{
	border-left: 2px solid red;
}