/*
  Authors	   :   Rahul Pastagiya
  Date created :   11/08/2017
  Purpose      :   Stylesheet for component
  Dependencies :   None
  __________________________________________________________________________
  Modifications:
		    Date:  
		    Purpose of modification:  
		    Method/Code segment modified: 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .Shape-Copy {
    width: 100%;
    height: 80px;
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    background-color: #ffffff;
    /*box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);*/
}
.THIS.Action {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #afb4b7;
    word-wrap: break-word;
    padding: 5px;
}
.THIS.Admin-QA {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #5e6468;
    word-wrap: break-word;
    padding: 5px;
}

.THIS{
    font-family:'Salesforce Sans',Arial,sans-serif!important;
}