<apex:page controller="QCRuleController" sidebar=" false" doctype="HTML-5.0" standardstylesheets="false" title="QC Rules">
    <apex:slds />
    <c:CustomTab customtabtype="qc" id="includeCustomTab" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/jquery-3.2.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/angular.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/chosen.jquery.min.js')}" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.RuleResource, 'CSS/chosen.css')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/toastr.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.RuleResource, 'CSS/toastr.min.css')}" />
    <style>
        .slds-scope .slds-modal_large .slds-modal__container {
            width: 70% !important;
        }

        .slds-scope .slds-form_horizontal .slds-form-element > .slds-form-element__label {
            width: 20% !important;
        }

        .slds-scope .slds-form_horizontal .slds-form-element__control {
            width: 75% !important;
        }

        .slds-scope .slds-card {
            background: white;
        }

        .hideContent {
            display: none;
        }

        .slds-scope .slds-table_bordered {
            border: 1px solid #d8dde6;
            border-radius: 3px;
        }

        .slds-scope .slds-page-header {
            background: white;
        }

        .slds-scope .slds-icon-custom-custom3 {
            background-color: #2A739E;
            color: #fff;
            padding: 4px;
        }

        .slds-scope .slds-section.slds-is-open .slds-section__content {
            padding-top: 0px;
        }

        .slds-scope a:hover {
            text-decoration: none !important;
        }

        .chosen-container-multi .chosen-choices {
            border: 1px solid #d8dde6 !important;
            border-radius: .25rem;
        }
    </style>
    <body ng-app="QCRuleApp">
        <div ng-controller="QCRuleCtrl">
            <div class="slds-card" style="min-height: 500px;">
                <div class="demo-only demo--inverse" ng-show="loading">
                    <div class="slds-spinner_container ">
                        <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
                <!-->div class="slds-page-header">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-custom-custom3 setup-icon" title="Description of icon when needed">
                                <svg class="slds-icon slds-page-header__icon" aria-hidden="true" viewBox="0 0 24 24">
                                    <path d="M8.8 19.6L1.2 12c-.3-.3-.3-.8 0-1.1l1-1c.3-.3.8-.3 1 0L9 15.7c.1.2.5.2.6 0L20.9 4.4c.2-.3.7-.3 1 0l1 1c.3.3.3.7 0 1L9.8 19.6c-.2.3-.7.3-1 0z"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="QC Rules">Quality Control Setup</h1>
                            <p class="slds-text-body_small slds-line-height_reset">{{pageHeader}}</p>
                        </div>
                    </div>
                </div-->
                <!-- Object List Div Start -->
                <div id="objectPage">
                    <div class="slds-m-top--medium"></div>
                    <div class="slds-section slds-is-open" id="objectPageSection">
                        <h3 class="slds-section__title">
                            <button ng-click="toggledSection('objectPageSection','objectPageSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                </svg>
                                <span class="slds-truncate" title="Rule Information">Object</span>
                            </button>
                        </h3>
                        <div aria-hidden="false" class="slds-section__content" id="objectPageSectionContent">
                            <div class="slds-p-around_medium">
                                <apex:form id="objectPageForm">
                                    <div class="slds-grid slds-grid_pull-padded-medium">
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">

                                            <div class="slds-form-element" ng-class="{'slds-has-error': (criteriaForm.criteriaObjectName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaObjectName.$invalid}">
                                                <label class="slds-form-element__label" for="criteriaObjectName">Select Object</label>
                                                <div class="slds-form-element__control">
                                                    <div class="slds-select_container">
                                                        <input type="text" value="{{qcRule.objectName}}" disabled="disabled" ng-show="qcRule.objectName != null && qcRule.objectName!=''" />
                                                        <select ng-show="{{qcRule.objectName == null || qcRule.objectName == ''}}" class="slds-select" id="criteriaObjectName" name="criteriaObjectName" ng-model="ruleFieldObject" ng-change="displayqcRules(); objectChange()" required="true">
                                                            <option ng-repeat="option in objectSelector | orderBy : 'label'" value="{{option.apiName}}">{{option.label}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="slds-form-element__help" ng-show="(criteriaForm.criteriaFieldName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaFieldName.$invalid">This field is required</div>
                                            </div>

                                            <div class="slds-m-top--small"></div>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                        </div>
                                    </div>
                                </apex:form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Object List Div End -->
                <div class="slds-p-around_medium" style="display: none;" id="bodyContent">
                    <div class="slds-m-top--medium"></div>
                    <div id="HomePage" ng-show="currentPage=='Home'">
                        <div>
                            <div class="slds-p-around_medium">
                                <div class="slds-tabs_default">
                                    <ul class="slds-tabs_default__nav" role="tablist">
                                        <li class="slds-tabs_default__item slds-is-active" title="Sampling Rules" role="presentation">
                                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item" ng-click="tabChange($event,'samplingContent');">Sampling Rules</a>
                                        </li>
                                        <li class="slds-tabs_default__item" title="Quality Control Form" role="presentation">
                                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item" ng-click="tabChange($event,'qcFormContent');">Quality Control Form</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="samplingContent" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-2__item">
                            <div style="float: right;padding-bottom: 10px;">
                                <button class="slds-button slds-button_brand" ng-click="createNewRule('sampling')">Create New Sampling</button>
                            </div>
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Action</div>
                                        </th>
                                        <th>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="operator">Order</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Field">Name</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Criterias</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in qcRules | filter: { type: 'sampling'  } track by $index">
                                        <td style="width:5%">
                                            <a ng-click="showRuleDeleteConfirm(rule);" title="Remove" style="padding-right: 7px;">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="editRule(rule);" title="Edit" style="padding-right: 7px;">
                                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="changeState(rule);" title="Active/Inactive">
                                                <i ng-class="rule.isActive ?'fa fa-toggle-on fa-lg':'fa fa-toggle-off fa-lg'" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td style="width:5%">
                                            <a ng-if="!$first" ng-click="moveUp(rule,'sampling')" title="Up">
                                                <i class="fa fa-level-up" aria-hidden="true"></i>
                                            </a>
                                            <a ng-if="!$last" ng-click="moveDown(rule,'sampling')" title="Down">
                                                <i class="fa fa-level-down" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td data-label="operator" class="slds-cell-wrap" style="width:5%">
                                            <div class="">
                                                {{rule.order}}
                                            </div>
                                        </td>
                                        <td scope="row" data-label="Field" class="slds-cell-wrap" style="width:15%">
                                            <div class="">
                                                {{rule.ruleName}}
                                            </div>
                                        </td>
                                        <td data-label="Value" class="slds-cell-wrap" style="width:70%">
                                            <div class="">
                                                {{rule.JSONValue.criterias | CriteriasFilter}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="qcFormContent" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-1__item">
                            <div style="float: right;padding-bottom: 10px;">
                                <button class="slds-button slds-button_brand" ng-click="createNewRule('form');">Create QC Form Rule</button>
                            </div>
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Action</div>
                                        </th>
                                        <th>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="operator">Order</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Field">Name</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Criterias</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in qcRules | filter: { type: 'form'  } track by $index">
                                        <td style="width:5%">
                                            <a ng-click="showRuleDeleteConfirm(rule);" title="Remove" style="padding-right: 7px;">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="editRule(rule);" title="Edit" style="padding-right: 7px;">
                                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="changeState(rule);" title="Active/Inactive">
                                                <i ng-class="rule.isActive ?'fa fa-toggle-on fa-lg':'fa fa-toggle-off fa-lg'" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td style="width:5%">
                                            <a ng-if="!$first" ng-click="moveUp(rule,'form')" title="Up">
                                                <i class="fa fa-level-up" aria-hidden="true"></i>
                                            </a>
                                            <a ng-if="!$last" ng-click="moveDown(rule,'form')" title="Down">
                                                <i class="fa fa-level-down" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td data-label="operator" class="slds-cell-wrap" style="width:5%">
                                            <div class="">
                                                {{rule.order}}
                                            </div>
                                        </td>
                                        <td scope="row" data-label="Field" class="slds-cell-wrap" style="width:15%">
                                            <div class="">
                                                {{rule.ruleName}}
                                            </div>
                                        </td>
                                        <td data-label="Value" class="slds-cell-wrap" style="width:70%">
                                            <div class="">
                                                {{rule.JSONValue.criterias | CriteriasFilter}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="rulePage" ng-show="currentPage=='Rule'">
                        <!--<header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2>
                                    <span class="slds-text-heading_small">{{pageHeader}}</span>
                                </h2>
                            </div>
                        </header>-->
                        <div class="slds-m-top--medium"></div>
                        <div class="slds-section slds-is-open" id="ruleInfoSection">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('ruleInfoSection','ruleInfoSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">Rule Information</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="ruleInfoSectionContent">
                                <div class="slds-p-around_medium">
                                    <form name="rulePageForm" id="rulePageForm" novalidate="novalidate">
                                        <div class="slds-grid slds-grid_pull-padded-medium">
                                            <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                                <div class="slds-form-element " ng-class="{'slds-has-error': (rulePageForm.txtRuleName.$touched || rulePageFormSubmitted) && rulePageForm.txtRuleName.$invalid}">
                                                    <label class="slds-form-element__label" for="txtRuleName">Rule Name</label>
                                                    <div class="slds-form-element__control">
                                                        <input id="txtRuleName" name="txtRuleName" class="slds-input" type="text" ng-model="qcRule.ruleName" required="true" />
                                                    </div>
                                                    <div class="slds-form-element__help" ng-show="(rulePageForm.txtRuleName.$touched || rulePageFormSubmitted) && rulePageForm.txtRuleName.$invalid">This field is required</div>
                                                </div>
                                                <div class="slds-m-top--small"></div>
                                            </div>
                                            <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="slds-section slds-is-open" id="ruleCriteriaSection">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('ruleCriteriaSection','ruleCriteriaSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">Rule Criteria</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="ruleCriteriaSectionContent">
                                <div class="slds-p-around_medium">
                                    <div class="slds-grid slds-grid_pull-padded-medium">
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-4">
                                            <div class="slds-card">
                                                <div class="slds-p-around_medium">
                                                    <div class="slds-card__header slds-grid">
                                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                                            <div class="slds-media__body">
                                                                <h2 style="text-align:center">
                                                                    <span class="slds-text-heading_small">Rule Criteria</span>
                                                                </h2>
                                                            </div>
                                                        </header>
                                                    </div>
                                                    <form name="criteriaForm" id="criteriaForm" novalidate="novalidate">
                                                        <div class="slds-form slds-form_horizontal">
                                                            <!-- <div class="slds-form-element" ng-class="{'slds-has-error': (criteriaForm.criteriaObjectName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaObjectName.$invalid}">
                                                                 <label class="slds-form-element__label" for="criteriaObjectName">Object</label>
                                                                 <div class="slds-form-element__control">
                                                                     <div class="slds-select_container">
                                                                         <input type="text" value="{{qcRule.objectName}}" disabled="disabled" ng-show="qcRule.objectName != null && qcRule.objectName!=''" />
                                                                         <select ng-show="{{qcRule.objectName == null || qcRule.objectName == ''}}" class="slds-select" id="criteriaObjectName" name="criteriaObjectName" ng-model="ruleFieldObject" ng-change="objectChange()" required="true">
                                                                             <option ng-repeat="option in objectSelector | orderBy : 'label'" value="{{option}}">{{option}}</option>
                                                                         </select>
                                                                     </div>
                                                                 </div>
                                                                 <div class="slds-form-element__help" ng-show="(criteriaForm.criteriaFieldName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaFieldName.$invalid">This field is required</div>
                                                             </div> -->
                                                            <div class="slds-form-element" ng-class="{'slds-has-error': (criteriaForm.criteriaFieldName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaFieldName.$invalid}">
                                                                <label class="slds-form-element__label" for="criteriaFieldName">Field</label>
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <select class="slds-select" id="criteriaFieldName" name="criteriaFieldName" ng-model="ruleField" ng-change="fieldChange()" required="true">
                                                                            <option ng-repeat="option in objectFields | orderBy : 'apiName'" value="{{option.apiName}}">{{option.label}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="slds-form-element__help" ng-show="(criteriaForm.criteriaFieldName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaFieldName.$invalid">This field is required</div>
                                                            </div>
                                                            <div class="slds-m-top--small"></div>
                                                            <div class="slds-form-element" ng-if="fieldType=='REFERENCE'">
                                                                <label class="slds-form-element__label" for="text-input-01">Ref. Field</label>
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <select class="slds-select" ng-model="$parent.selectedRefField">
                                                                            <option value="id">id</option>
                                                                            <option value="Name">Name</option>
                                                                            <option value="Email">Email</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-m-top--small" ng-if="fieldType=='REFERENCE'"></div>
                                                            <div class="slds-form-element" ng-class="{'slds-has-error': (criteriaForm.criteriaOperator.$touched || criteriaFormSubmitted) && criteriaForm.criteriaOperator.$invalid}">
                                                                <label class="slds-form-element__label" for="criteriaOperator">Operator</label>
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <select class="slds-select" id="criteriaOperator" name="criteriaOperator" ng-model="selectedOperator" required="true" ng-change="operatorChange();">
                                                                            <option ng-repeat="option in operator" value="{{option}}">{{option}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="slds-form-element__help" ng-show="(criteriaForm.criteriaOperator.$touched || criteriaFormSubmitted) && criteriaForm.criteriaOperator.$invalid">This field is required</div>
                                                            </div>
                                                            <div class="slds-m-top--small"></div>
                                                            <div class="slds-form-element">
                                                                <label class="slds-form-element__label" for="text-input-01">Value</label>
                                                                <div class="slds-form-element__control" ng-if="fieldType=='TEXT' || fieldType=='NUMBER' || fieldType=='EMAIL' || fieldType=='PHONE' ||  fieldType=='CURRENCY' || fieldType=='DOUBLE' || fieldType=='TEXTAREA' || fieldType=='STRING'">
                                                                    <input id="txtCriteriaValue" class="slds-input" type="text" ng-model="$parent.selectedValue" />
                                                                </div>
                                                                <div class="slds-form-element__control" ng-if="fieldType=='REFERENCE'">
                                                                    <textarea id="txtCriteriaValue" class="slds-textarea" ng-model="$parent.selectedValue"></textarea>
                                                                </div>
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container" ng-if="fieldType=='PICKLIST' || fieldType=='BOOLEAN'">
                                                                        <select multiple="true" class="slds-select" ng-model="$parent.selectedValue" id="chosenObj" ng-show="$parent.selectedOperator=='contains in list'">
                                                                            <option ng-repeat="option in fieldValues" value="{{option}}">{{option}}</option>
                                                                        </select>
                                                                        <select class="slds-select" ng-model="$parent.selectedValue" ng-show="!($parent.selectedOperator=='contains in list')">
                                                                            <option ng-repeat="option in fieldValues" value="{{option}}">{{option}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-m-top--medium"></div>
                                                            <button class="slds-button slds-button_brand" ng-click="addCriteria();">Add</button>
                                                            <div class="slds-m-top--medium"></div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_3-of-4">
                                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="slds-truncate" title="Field">Field</div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="slds-truncate" title="operator">Operator</div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="slds-truncate" title="Value">Value</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-show="qcRule.JSONValue.criterias.length==0">
                                                        <td colspan="4" style="text-align: center;">
                                                            No Criteria added.
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="car in qcRule.JSONValue.criterias track by $index">
                                                        <td>
                                                            <a ng-click="deleteCriterias(car);" title="Delete">
                                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td scope="row" data-label="Field" class="slds-cell-wrap">
                                                            <div>
                                                                {{car.field}}
                                                            </div>
                                                        </td>
                                                        <td data-label="operator" class="slds-cell-wrap">
                                                            <div>
                                                                {{car.operator}}
                                                            </div>
                                                        </td>
                                                        <td data-label="Value" class="slds-cell-wrap">
                                                            <div>
                                                                {{car.value}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-section slds-is-open" id="samplingRuleActionSection" ng-show="qcRule.type=='sampling'">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('samplingRuleActionSection','samplingRuleActionSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">Rule Action</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="samplingRuleActionSectionContent">
                                <div class="slds-p-around_medium">
                                    <div class="slds-grid slds-grid_pull-padded-medium">
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                            <div class="slds-form-element__control">
                                                <span class="slds-checkbox">
                                                    <input type="checkbox" name="alwaysMoveToQC" id="alwaysMoveToQC" value="off" ng-model="qcRule.JSONValue.alwaysMoveToQC" />
                                                    <label class="slds-checkbox__label" for="alwaysMoveToQC">
                                                        <span class="slds-checkbox_faux"></span>
                                                        <span class="slds-form-element__label">Always move to QC</span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="slds-m-top--small"></div>
                                            <div class="slds-form-element" ng-show="!qcRule.JSONValue.alwaysMoveToQC">
                                                <label class="slds-form-element__label" for="qcPerecentage">QC Perecentage</label>
                                                <div class="slds-form-element__control">
                                                    <div class="slds-select_container">
                                                        <select class="slds-select" id="qcPerecentage" name="qcPerecentage" ng-model="qcRule.JSONValue.qcPerecentage" required="true">
                                                            <option value="0">00</option>
                                                            <option value="5">05</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="40">40</option>
                                                            <option value="50">50</option>
                                                            <option value="60">60</option>
                                                            <option value="70">70</option>
                                                            <option value="80">80</option>
                                                            <option value="90">90</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_4-of-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-section slds-is-open" id="formRuleActionSection" ng-show="qcRule.type=='form'">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('formRuleActionSection','formRuleActionSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">Setup Form</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="formRuleActionSectionContent">
                                <div class="slds-p-around_medium">
                                    <div class="slds-grid slds-grid_pull-padded-medium">
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                            <div class="slds-form-element__control">
                                                <label class="slds-form-element__label" for="text-input-01">Form Header</label>
                                                <div class="slds-form-element__control">
                                                    <input id="txtQCFormHeader" class="slds-input" type="text" ng-model="qcRule.JSONValue.qcFormHeader" />
                                                </div>
                                            </div>
                                            <div class="slds-m-top--small"></div>
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label" for="qcPerecentage">Fieldset</label>
                                                <div class="slds-form-element__control">
                                                    <div class="slds-select_container">
                                                        <select class="slds-select" id="qcFormFieldsetName" name="qcFormFieldsetName" ng-model="qcRule.JSONValue.qcFormFieldsetName" required="true">
                                                            <option ng-repeat="option in qcFormFieldset" value="{{option.value}}">{{option.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_4-of-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-m-top--medium"></div>
                        <div style="text-align:right">
                            <button class="slds-button slds-button_neutral" ng-click="Cancel();">Cancel</button>
                            <button class="slds-button slds-button_brand" ng-click="SaveRule();">Save</button>
                        </div>
                        <div class="slds-m-top--medium"></div>
                    </div>
                </div>
            </div>
            <div class="demo-only">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal" id="modalConfirm">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" ng-click="closeDialog()">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true" viewBox="0 0 24 24">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M 14.3 11.7 l 6 -6 c 0.3 -0.3 0.3 -0.7 0 -1 l -0.9 -1 c -0.3 -0.2 -0.7 -0.2 -1 0 l -6 6.1 c -0.2 0.2 -0.5 0.2 -0.7 0 l -6 -6.1 c -0.3 -0.3 -0.7 -0.3 -1 0 l -1 1 c -0.2 0.2 -0.2 0.7 0 0.9 l 6.1 6.1 c 0.2 0.2 0.2 0.4 0 0.6 l -6.1 6.1 c -0.3 0.3 -0.3 0.7 0 1 l 1 1 c 0.2 0.2 0.7 0.2 0.9 0 l 6.1 -6.1 c 0.2 -0.2 0.4 -0.2 0.6 0 l 6.1 6.1 c 0.2 0.2 0.7 0.2 0.9 0 l 1 -1 c 0.3 -0.3 0.3 -0.7 0 -1 l -6 -6 c -0.2 -0.2 -0.2 -0.5 0 -0.7 Z" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirm</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <p>
                                Are you sure you want to delete?
                            </p>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" ng-click="closeDialog()">Cancel</button>
                            <button class="slds-button slds-button_brand" ng-click="deleteRule()">Delete</button>
                        </footer>
                    </div>
                </section>
                <div id="backdropConfirm" class="slds-backdrop"></div>
            </div>
        </div>

    </body>
    <script>
        var app = angular.module("QCRuleApp",[]);
        app.filter('CriteriasFilter', function () {

            return function (input)
            {
                var outPutArray=[];
                input.forEach(function(value, key){
                    outPutArray.push(value.field+' '+value.operator.toUpperCase()+' '+value.value);
                });
                return outPutArray.join(" And ");
            }
        })
         app.controller('QCRuleCtrl', function($scope) {

            $scope.objectFields={};
            $scope.ruleField='';
            $scope.operator=[];
            $scope.fieldType='';
            $scope.fieldValues=[];
            $scope.selectedValue='';
            $scope.selectedRefField='';
            $scope.rulePageFormSubmitted=false;
            $scope.criteriaFormSubmitted=false;
            $scope.currentPage='Home';
            $scope.qcRule=[];
            $scope.loading=false;
            $scope.qcRules={};
            $scope.deleteId='';

            $scope.qcFormFieldset=[];

            $scope.resetValidation=function(){
                $scope.rulePageFormSubmitted=false;
                $scope.criteriaFormSubmitted=false;

                $scope.rulePageForm.$setPristine();
                $scope.rulePageForm.$setUntouched();

                $scope.criteriaForm.$setPristine();
                $scope.criteriaForm.$setUntouched();
            }



            /*
              Authors: Chandresh Koyani
              Purpose: Create emptry QC Rule object.
              Dependencies:
            */
            $scope.resetQCRule=function(type){
                if(type==null){
                    type='sampling';
                }
                $scope.qcRule={
                    'JSONValue':{
                        'criterias':[],
                        'alwaysMoveToQC':false,
                        'qcPerecentage':0,
                        'qcFormFieldsetName':'',
                        'qcFormHeader':'',
                    },
                    'ruleName':'',
                    'order':0,
                    'id':'',
                    'isActive':true,
                    'type':type,
                     'objectName':'',
                };

            }
            $scope.resetQCRule();



            /*
              Authors: Chandresh Koyani
              Purpose: Get all QC Rules from server,Call contraller method.
              Dependencies:
            */
            $scope.getAllQCRules=function(){
                 Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.getAllRules}',$scope.ruleFieldObject,
                 function(result, event){
                    $scope.qcRules=result;
                    $scope.$apply();
                });
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Get all QC Form fields from server,Call contraller method.
              Dependencies:
            */
            $scope.getAllQCFormFields=function(){
                 Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.getQualityCheckFieldset}',
                 function(result, event){
                    $scope.qcFormFieldset=result;
                });
            }



            /*
              Authors: Chandresh Koyani
              Purpose: This method get necessary data to initialize page.
              Dependencies:
            */
            $scope.initApp=function(){
                 //$scope.loading=true;
                /* Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.getCaseTrackerFields}',
                 function(result, event){
                    $scope.objectFields=result;
                    $scope.getAllQCFormFields();
                    $scope.getAllQCRules();
                });*/
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.getAllObjectsFields}',
                 function(result, event){
                    $scope.objectSelector=result;
                    $scope.ruleFieldObject = result[0];
                   // $scope.getAllQCFormFields();
                    $scope.getAllQCRules();
                    $scope.loading=false;
                });

        //$scope.objectSelector = {"Invoice"};
            }
            $scope.initApp();


             /*
              Authors: Chandresh Koyani
              Purpose: Fire when criteria field is changed, it will fill operator and field type.
              Dependencies:
            */
            $scope.fieldChange=function(){
                $scope.objectFields.forEach(function(value, key){
                    console.log('value-->'+value.apiName);
                    console.log('operator-->'+value.operator);
                    console.log($scope.ruleField);
                    if(value.apiName==$scope.ruleField){
                        $scope.ruleField=value.apiName;
                        $scope.operator=value.operator;
                        $scope.fieldType=value.type;
                        var array = [];
                        angular.forEach(value.pickListValue, function(element) {
                            array.push(element.text);
                        });
                        $scope.fieldValues=array;
                        $scope.selectedValue='';
                        $scope.selectedRefField='';
                    }
                });
                $scope.selectedOperator='';
                if($("#chosenObj_chosen").length>0){
                    $scope.selectedValue='';
                    $("#chosenObj").chosen("destroy");
                }
            }
            $scope.objectChange=function(){
                console.log($scope.ruleFieldObject);
                $scope.loading=true;
                 Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.getCaseTrackerFields}',$scope.ruleFieldObject,
                 function(result, event){
                    $scope.qcRule.JSONValue.criterias.length=0;
                    $scope.objectFields=result;
                    $scope.getAllQCFormFields();
                    $scope.getAllQCRules();
                    $scope.loading=false;
                });
            }

           $scope.displayqcRules=function(){
                  $scope.loading=true;
                  if($scope.ruleFieldObject=='--None--') {
                  document.getElementById("bodyContent").style.display='none';
                  $scope.initApp();
                  }
                  else{
                       document.getElementById("bodyContent").style.display='block';
                       $scope.getAllQCRules();
                  }

           }


            /*
              Authors: Chandresh Koyani
              Purpose: Create new criteria and add into Criteria List.
              Dependencies:
            */
            $scope.addCriteria=function(){

               $scope.criteriaFormSubmitted=true;
               if($scope.criteriaForm.$valid){
                  var val=$scope.selectedValue;
                  if(($scope.fieldType=='PICKLIST' || $scope.fieldType=='BOOLEAN') && $scope.selectedOperator=='contains in list'){
                       if($scope.selectedValue!=''){
                            val=$scope.selectedValue.join(',');
                       }
                  }
                  $scope.qcRule.JSONValue.criterias.push({
                    field : $scope.ruleField,
                    operator: $scope.selectedOperator,
                    value: val,
                    type: $scope.fieldType,
                    refField: $scope.selectedRefField
                  });
                    $scope.criteriaFormSubmitted=false;
                    $scope.selectedValue='';
                     $scope.selectedRefField='';
                    $scope.ruleField='';
                    $scope.operator='';
                    $scope.fieldType='TEXT';
                    $scope.fieldValues='';
                    $scope.selectedOperator=''
                    $scope.criteriaForm.$setPristine();
                    $scope.criteriaForm.$setUntouched();
              }
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Save email to case rule into server and reinitliaze page.
              Dependencies:
            */
            $scope.SaveRule=function(){
         console.log('ruleFieldObject--->'+$scope.ruleFieldObject);
                 $scope.rulePageFormSubmitted=true;
                 if($scope.rulePageForm.$valid){
                    if($scope.ruleFieldObject === null || $scope.ruleFieldObject === undefined || $scope.ruleFieldObject ==''){
                         toastr.error('At least one Object is required', 'Error!', {timeOut: 5000});
                        return;
                    }
                    if($scope.qcRule.JSONValue.criterias.length==0){
                        toastr.error('At least one criteria is required', 'Error!', {timeOut: 5000});
                        return;
                    }
                     $scope.loading=true;
                     Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.QCRuleController.saveRule}',$scope.qcRule,$scope.ruleFieldObject,
                        function(result, event){
                            console.log('result :');
                            console.log(result);
                            $scope.resetValidation();
                            $scope.getAllQCRules();
                            $scope.resetQCRule();
                            $scope.currentPage='Home';
                            $scope.loading=false;
                            $scope.pageHeader='';
                            document.getElementById('criteriaObjectName').style.display = 'block';
                        });
                }
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Move rule order to up.
              Dependencies:
            */
            $scope.moveUp=function(qcRule,type){
                $scope.loading=true;
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.changeOrder}',qcRule.order,'UP',type,$scope.ruleFieldObject,
                 function(result, event){
                    $scope.getAllQCRules();
                    $scope.loading=false;
                });
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Move rule order to down.
              Dependencies:
            */
            $scope.moveDown=function(qcRule){
                 $scope.loading=true;
                 Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.changeOrder}',qcRule.order,'DOWN',type,$scope.ruleFieldObject,
                 function(result, event){
                    $scope.getAllQCRules();
                    $scope.loading=false;
                });
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Toggled section header.
              Dependencies:
            */
            $scope.toggledSection=function(mainDev,sectionContent){
                 $('#'+mainDev).toggleClass('slds-is-open');
                 $('#'+sectionContent).toggleClass('hideContent');
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Cancel Editing and move to home page.
              Dependencies:
            */
            $scope.Cancel=function(){
                 $scope.getAllQCRules();
                 $scope.resetQCRule();
                 $scope.currentPage='Home';
                 $scope.resetValidation();
                 $scope.pageHeader='';
                 document.getElementById('criteriaObjectName').style.display = 'block';
                // $scope.ruleFieldObject = '';
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Change rule state(Active/Inactive).
              Dependencies:
            */
            $scope.changeState=function(qcRule){
                $scope.loading=true;
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.changeState}',qcRule.id,!qcRule.isActive,
                 function(result, event){
                     $scope.getAllQCRules();
                     $scope.loading=false;
                });
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Init editing window for provided rule.
              Dependencies:
            */
            $scope.editRule=function(qcRule){
                console.log(qcRule);
                $scope.pageHeader='Edit Rule "'+qcRule.ruleName+'"';
                $scope.currentPage='Rule';
                $scope.qcRule=qcRule;
                $scope.qcRule.JSONValue.qcPerecentage = ""+$scope.qcRule.JSONValue.qcPerecentage;
                $scope.ruleFieldObject = $scope.qcRule.objectName;
                document.getElementById('criteriaObjectName').style.display = 'none';
                //$scope.objectChange();
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Init create new rule window.
              Dependencies:
            */
            $scope.createNewRule=function(type){
                $scope.resetQCRule(type);
                $scope.currentPage='Rule';
                $scope.pageHeader='Create New Rule';
                //$scope.ruleFieldObject = $scope.qcRule.objectName;
                $scope.ruleField = null;
                //document.getElementById('criteriaObjectName').style.display = '';
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Close rule delete dialog.
              Dependencies:
            */
            $scope.closeDialog=function(){
                 $('#modalConfirm').removeClass('slds-fade-in-open');
                 $('#backdropConfirm').removeClass('slds-backdrop--open');
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Delete Rule from server and get rules from server to reflact changes.
              Dependencies:
            */
            $scope.deleteRule=function(){
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.QCRuleController.removeRule}',$scope.deleteId,
                 function(result, event){
                     $('#modalConfirm').removeClass('slds-fade-in-open');
                     $('#backdropConfirm').removeClass('slds-backdrop--open');
                     $scope.deleteId='';
                     $scope.getAllQCRules();
                });
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Display rule delete confirm dialog.
              Dependencies:
            */
            $scope.showRuleDeleteConfirm=function(qcRule){
                $('#modalConfirm').addClass('slds-fade-in-open');
                $('#backdropConfirm').addClass('slds-backdrop--open');
                $scope.deleteId=qcRule.id;
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Delete criteria from list.
              Dependencies:
            */
            $scope.deleteCriterias=function(car){
                var index= $scope.qcRule.JSONValue.criterias.indexOf(car);
                $scope.qcRule.JSONValue.criterias.splice(index, 1);
            }

            /*
              Authors: Chandresh Koyani
              Purpose: This method is used to handle tab change event.
              Dependencies:
            */
            $scope.tabChange=function(e,tabContent){
                $('#bodyContent .slds-tabs_default__item').removeClass('slds-is-active');
                $('#bodyContent .slds-tabs_default__content').removeClass('slds-show');
                $('#bodyContent .slds-tabs_default__content').addClass('slds-hide');
                $('#'+tabContent).toggleClass("slds-hide slds-show");
                $(e.target).parent().addClass('slds-is-active');
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Event method it will fire when operator is changed.
              Dependencies:
            */
            $scope.operatorChange=function(){
                if($scope.fieldType=='PICKLIST' || $scope.fieldType=='BOOLEAN'){
                    if($scope.selectedOperator=='contains in list'){
                        $("#chosenObj").chosen();
                        $("#chosenObj_chosen").css('width','190px');

                    }
                    else{
                        if($("#chosenObj_chosen").length>0){
                            $scope.selectedValue='';
                            $("#chosenObj").chosen("destroy");
                        }
                    }
                }
            }
         });

    </script>
</apex:page>