<apex:page sidebar="false" title="Record History" controller="recordHistoryConfigurationController">
    <apex:slds />
    <c:CustomTab customtabtype="rechis" id="includeCustomTab" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/jquery-3.2.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/angular.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/chosen.jquery.min.js')}" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.RuleResource, 'CSS/chosen.css')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/toastr.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.RuleResource, 'CSS/toastr.min.css')}" />
    <style>
        .slds-scope .slds-modal_large .slds-modal__container {
            width: 70% !important;
        }

        .slds-scope .slds-form_horizontal .slds-form-element > .slds-form-element__label {
            width: 20% !important;
        }

        .slds-scope .slds-form_horizontal .slds-form-element__control {
            width: 75% !important;
        }

        .slds-scope .slds-card {
            background: white;
        }

        .hideContent {
            display: none;
        }

        .slds-scope .slds-table_bordered {
            border: 1px solid #d8dde6;
            border-radius: 3px;
        }

        .slds-scope .slds-page-header {
            background: white;
        }

        .slds-scope .slds-icon-custom-custom3 {
            background-color: #2A739E;
            color: #fff;
            padding: 4px;
        }

        .slds-scope .slds-section.slds-is-open .slds-section__content {
            padding-top: 0px;
        }

        .slds-scope a:hover {
            text-decoration: none !important;
        }

        .chosen-container-multi .chosen-choices {
            border: 1px solid #d8dde6 !important;
            border-radius: .25rem;
        }
    </style>
    <body ng-app="QCRuleApp">
        <div ng-controller="QCRuleCtrl">
            <div class="demo-only demo--inverse" ng-show="loading">
                <div class="slds-spinner_container ">
                    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="slds-truncate" title="Value">Action</div>
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="records in objectFields">
                        <td style="width:5%">
                            <a ng-click="changeState(records)" title="Active/Inactive">
                                <i ng-class="records.active ?'fa fa-toggle-on fa-lg':'fa fa-toggle-off fa-lg'"></i>
                            </a>
                        </td>
                        <td data-label="Value" class="slds-cell-wrap" style="width:70%">
                            <div class="">
                               {{records.label}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        var app = angular.module("QCRuleApp",[]);

         app.controller('QCRuleCtrl', function($scope) {

            $scope.objectFields={};


            $scope.initApp=function(){
                $scope.loading=true;
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.recordHistoryConfigurationController.getAllObjectsFields}',
                 function(result, event){
                    $scope.objectFields=result;
                    console.log($scope.objectFields);
                    $scope.loading=false;
                    $scope.$apply();
                });

            }

            $scope.initApp();

             $scope.changeState = function(recc){
                $scope.loading=true;
                 Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.recordHistoryConfigurationController.changeState}',recc.name,!recc.active,
                 function(result, event){
                    $scope.initApp();
                    $scope.loading=false;
                });
                //$scope.loading=false;
            }

         });

    </script>
</apex:page>