/*
 * Authors		: Parth Lukhi
 * Date created : 17/08/2017 
 * Purpose      :  Stlyle sheet used for CaseDetailView component
 * Dependencies :  NA
 * -------------------------------------------------
 *Modifications:
                Date:  
                Purpose of modification:  
                Method/Code segment modified: 

*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .backgroundbody {
    background: #929292;
}
.THIS .classic .card {
    background: #5e6468;
}
.THIS .approvalSec {
    background:#f5f6fa!important;
}
.THIS .classic .slds-card__header {
	color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #0773a8;
}
.THIS .classic .slds-icon-text-default {
    /* fill: white; */
}
.THIS .classic .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.THIS .classic {
    background-color: #ffffff;
}

.THIS .slds-card {
    border: 0px!important;
}
.THIS .caseDetailContainer {
    background-color: #ffffff;
}
.THIS .case_slider_header {
    background-color: #5e6468;
    height: 35px;
}
.THIS .case-details-font {
    font-family: Roboto;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
}
.THIS .detail-item-header {
    font-size: 17px;
    text-align: left;
    color: #5e6468;
    padding: 5px;
}
.THIS .detail-item {
    font-size: 12px;
    padding: 5px;
}
/*
.THIS .slds-form-element__label {
    display: none;
}
toggleCss.css*/

.THIS .toggleCaseDetail {
    display: none;
    
}
.THIS .toggleCaseDetail1 {
    display: block;
}
/*toggleCss.css*/

.THIS .toggleCase {
    display: none;
    
}
.THIS .layoutInter {
    padding-left: 10px;
    width: 100%;
    float: left;
}
.THIS .layoutCaseD {
    padding-left: 10px;
    width: 430px;
    float: left;
}
.THIS .left {
    float: left;
    width: 700px;
    text-align: right;
    margin: 2px 10px;
    display: inline;
}
.THIS .right {
    float: left;
    display: inline;
}
.THIS .slds-tabs--default__content {
    padding: 0rem 0 !important;
}
.THIS .leftBorder {    
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2)
}

.THIS .slds-tabs--default__content {
    padding: 0rem 0 !important;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding : 0rem 0 !important;
}


/* Added by Ashish */
.THIS .slds-tabs_default__content{
    padding-top:0px;
    padding-bottom:0px;
}
.THIS .slds-tabs--default__content{
    padding-top:0px;
    padding-bottom:0px;
}

.THIS .slds-tabs__nav-scroller {
    background-color: #f5f5f5!important;
    margin-bottom: 10px;
    /* background-color: red; */
    background-color: #f5f5f5!important;
}


.THIS .slds-pill__remove {
   /* width: 1.5rem;*/
    height: 1.5rem;
    /*background: white; */
    z-index: 2;
}

.THIS .slds-tabs--default__link {
    text-decoration: none !important;
    color: #fff;
}

.THIS .slds-tabs--scoped__link {
    text-decoration: none !important;
    color: #000000;
}

.THIS .slds-tabs_default__link {
    text-decoration: none !important;
    color: #fff;
}

.THIS .slds-tabs_scoped__link {
    text-decoration: none !important;
    color: #000000;
}

.THIS .slds-tabs_scoped__nav {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-tabs--default__nav {
    background-color: #00a3e2 !important;
    color: #fff !important;
    border-bottom: #f5f5f5 5px solid;
    /*border-bottom: 1px solid rgb(221, 219, 218);*/
}

.THIS .slds-tabs_default__nav {
    background-color: #00a3e2 !important;
    color: #fff !important;
    border-bottom: #f5f5f5 5px solid;
    /*border-bottom: 1px solid rgb(221, 219, 218);*/
}

.THIS .slds-tabs_default__item {
    color: #fff;
    text-align: center;
    background-color: #00a3e2;
    margin-bottom: -5px;
    text-transform: none !important;
    border-bottom: 2px solid rgb(221, 219, 218);
    /* border-bottom: 5px solid #f5f5f5;
    height:5px;*/
}

.THIS .slds-tabs--default__item {
    color: #fff;
    text-align: center;
    background-color: #00a3e2;
    margin-bottom: -5px;
    text-transform: none !important;
    border-bottom: 2px solid rgb(221, 219, 218);
    /*  height:5px;*/
}

.THIS .slds-tabs_default__item:hover, .THIS .slds-tabs_default__item.slds-has-hover, .THIS .slds-tabs--default__item:hover, .THIS .slds-tabs--default__item.slds-has-hover {
    /*outline: 0;*/
    border-bottom: 5px solid #0773a8 !important;
}

.THIS .slds-tabs_default, .THIS .slds-has-overflow, .THIS .slds-tabs__nav-scroller_inner {
    border-bottom: 0px !important;
}


.THIS .slds-tabs_default__item::after {
    height: 4px;
    top: 25px;
    margin-top: 25px;
    content: none;
    /*  height:4px;*/
}

.THIS .slds-tabs--default__item::after {
    top: 25px;
    margin-top: 25px;
    height: 4px;
    content: none;
}


.THIS .slds-tabs_default__item.slds-active:after, .THIS .slds-tabs_default__item.slds-is-active:after, .THIS .slds-tabs--default__item.slds-active:after, .THIS .slds-tabs--default__item.slds-is-active:after {
    background-color: #00a6f8 !important;
}


.THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
    border-bottom: 5px solid #00a3e2 !important;
}