.THIS #accordion input {
	display: none;
}
.THIS #accordion label {
	background: #f7f9fb;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-bottom: 2px;
	padding: 4px 16px;
	z-index: 20;
    border:1px solid #eef2f6;
}
 
.THIS #accordion label:hover {
	background: #eef2f6;
}
 
.THIS #accordion input:checked + label {
	background: #eef2f6;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: black;
	margin-bottom: 0;
}
.THIS #accordion article {
	background: white;
	height:0px;
	overflow:hidden;
	z-index:10;
}
.THIS #accordion input:checked ~ article {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	height: auto;
	margin-bottom: 2px;
}

.THIS .wrapperBox {
	/*height: calc(100% - 20px);
	width: calc(100% - 20px); */
    height:100px;
    width: 200px;
	margin: 0;
	padding: 10px;
	display: flex;
	background: #f2f2f2;
	color: rgba(0,0,0,.87);
	font-family: 'Roboto', sans-serif;
}
.THIS .accordion {
	margin: auto;
	/*width: 400px;*/
}
.THIS .accordion input {
	display: none;
}
.THIS .box {
    color: black !important;
	position: relative;
	background: white !important;
    height: 64px;
    transition: all .15s ease-in-out;
    margin-bottom:5px ;
    padding: 0px !important;
    text-align : left !important;
    border-radius: 0px !important;
}
.THIS .box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.THIS header.box {
	background: #00BCD4;
	z-index: 100;
	cursor: initial;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
.THIS header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: white;
	cursor: initial;
}
.THIS .box-title {
	width: calc(100% - 40px);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.THIS .box-content {
	width: calc(100% - 40px);
	padding: 30px 20px;
	font-size: 11pt;
	color: rgba(0,0,0,.54);
	display: none;
}
.THIS .box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
.THIS input:checked + .box {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.THIS input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
.THIS input:checked + .box .box-content,
.THIS input:checked + .box .box-close {
	display: inline-block;
}
.THIS .arrows section .box-title {
	/*padding-left: 44px;*/
	width: calc(100% - 64px);
}
/*
.THIS .arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
.THIS input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}*/

.THIS .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
    position: absolute;
    margin-top:6px;
}
.THIS #fromName {
    font-weight: bold;
    position: absolute;
    margin-left:75px;
    top: -1.1em;
    color: darkslategrey;
}

.THIS #caseNumber{
    position: absolute;
    margin-left: 22em;
    top: -1.1em;
    color: darkslategrey;
    font-weight: bold;    
}

.THIS .subject {
    top:0.3em;
    position: absolute;
    margin-left: 75px;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    color: darkslategrey;
}