.THIS .slds-tabs_default__content{
    padding-top:0px;
    padding-bottom:0px;
}
.THIS .slds-tabs--default__content{
    padding-top:0px;
    padding-bottom:0px;
}

.THIS .slds-tabs__nav-scroller {
    background-color: #f5f5f5!important;
    padding-bottom: 10px;
    /* background-color: red; */
    background-color: #f5f5f5!important;
}