.THIS .common {
    background-color: #00a3e2;
    width: 6%;
    min-width: 6%;
    min-height: 100vh;
}
.THIS .WrapperM{margin-top:-15px;}
.THIS.mybody {
    overflow: auto;
    min-height: 100vh;
    background: #f5f6fa;
}

.THIS .center-algn {
    text-align: center;
}

.THIS .img-sidebar {
    padding: 10px;
}

.THIS .slds-pill__remove {
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    z-index: 2;
}

.THIS .slds-tabs--default__link {
    text-decoration: none !important;
    color: #fff;
}

.THIS .slds-tabs--scoped__link {
    text-decoration: none !important;
    color: #000000;
}

.THIS .slds-tabs_default__link {
    text-decoration: none !important;
    color: #fff;
}

.THIS .slds-tabs_scoped__link {
    text-decoration: none !important;
    color: #000000;
}

.THIS .slds-tabs_scoped__nav {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-tabs--default__nav {
    background-color: #00a3e2 !important;
    color: #fff !important;
    border-bottom: #f5f5f5 5px solid;
    /*border-bottom: 1px solid rgb(221, 219, 218);*/
}

.THIS .slds-tabs_default__nav {
    background-color: #00a3e2 !important;
    color: #fff !important;
    border-bottom: #f5f5f5 5px solid;
    /*border-bottom: 1px solid rgb(221, 219, 218);*/
}

.THIS .slds-tabs_default__item {
    color: #fff;
    text-align: center;
    background-color: #00a3e2;
    text-transform: none !important;
    /*margin-bottom: -5px;
    border-bottom: 2px solid rgb(221, 219, 218);
     border-bottom: 5px solid #f5f5f5;
    height:5px;*/
}

.THIS .slds-tabs--default__item {
    color: #fff;
    text-align: center;
    background-color: #00a3e2;
    text-transform: none !important;
    /*margin-bottom: -5px;
    border-bottom: 2px solid rgb(221, 219, 218);
    /*  height:5px;*/
}
.THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item {
    color: rgb(62, 62, 60);
    position: relative;
    padding: 0 .75rem;
    margin-bottom: 0 !important;
}
.THIS .slds-tabs_default__item.slds-active, 
.THIS .slds-tabs_default__item.slds-is-active, 
.THIS .slds-tabs--default__item.slds-active, 
.THIS .slds-tabs--default__item.slds-is-active {
    margin-bottom: -5px;
    color: rgb(64, 64, 65);
    animation: shadow 300ms;
    border-bottom: 5px solid #0773a8!important;
}

.THIS .slds-tabs_default__item:hover, .THIS .slds-tabs_default__item.slds-has-hover, .THIS .slds-tabs--default__item:hover, .THIS .slds-tabs--default__item.slds-has-hover {
    /*outline: 0;*/
    border-bottom: 5px solid #0773a8 !important;
}

.THIS .slds-tabs_default, .THIS .slds-has-overflow, .THIS .slds-tabs__nav-scroller_inner {
    border-bottom: 0px !important;
}

.THIS .padding-all {
    padding: 5px;
}

.THIS .activeIcon {
    background: #0773a8;
    cursor: pointer;
}

.THIS .inActiveIcon {
    background: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.THIS .slds-tabs_default__item::after {
    height: 4px;
    top: 25px;
    margin-top: 25px;
    content: none;
    /*  height:4px;*/
}

.THIS .slds-tabs--default__item::after {
    top: 25px;
    margin-top: 25px;
    height: 4px;
    content: none;
}

.THIS .padding-side {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    height: 120%;
    vertical-align: middle;
    cursor: pointer;
    height: 61px;
}

.THIS .full-size {
    height: 100%;
    width: 100%;
}

.THIS .slds-tabs_default__item.slds-active:after, .THIS .slds-tabs_default__item.slds-is-active:after, .THIS .slds-tabs--default__item.slds-active:after, .THIS .slds-tabs--default__item.slds-is-active:after {
    background-color: #00a6f8 !important;
    margin-bottom: -5px;
}

.THIS .sideImgDiv {
    background-color: red;
}

.THIS .sideTd {
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    height: 72px;
    width: 72px;
}

.THIS .margin-top-5 {
    margin-top: 5px;
}

.THIS .margin-top-10 {
    margin-top: 10px;
}

.THIS .margin-top-15 {
    margin-top: 15px;
}

.THIS .margin-top-20 {
    margin-top: 20px;
}
.THIS .dropdown-1 {
    border: 0px;
    border-bottom: 0.5px #b0b5b8;
}

.THIS .a {
    text-decoration: none !important;
}

.THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
    border-bottom: 5px solid #00a3e2 !important;
}




.THIS li.slds-breadcrumb__item a {
    opacity: .5;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    text-align: left;
    color: #5e6468;
    text-decoration: none;
}
.THIS li.Unassigned a {
    font-family: 'Roboto',sans-serif;
    opacity: 1.5;
    font-size: 12px;
    text-align: left;
    color: #000000;
    font-weight: 500;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    font-family: 'Roboto',sans-serif;
    text-transform: none;
    color: #5e6468;
}
        
/* Vandita | ESMPROD-1303 | Start */
.THIS .slds-tabs_default__item::after {
    height: 4px;
    top: 25px;
    margin-top: 25px;
    content: none;
    /*  height:4px;*/
}

.THIS .slds-tabs--default__item::after {
    top: 25px;
    margin-top: 25px;
    height: 4px;
    content: none;
}
        
/* Vandita | ESMPROD-1303 | End */