.THIS .classic .card{
    background:#5e6468;
}
.THIS .classic .slds-card__header{
    height: 35px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #5e6468;
}
.THIS .classic .white .slds-icon-text-default{ 
    fill: white; 
}
.THIS .classic .black .slds-icon-text-default{ 
    fill: black; 
}
.THIS .classic .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}
.THIS .classic{
    background-color: #ffffff;
}
.THIS .plain{
    background-color: #ffffff;
    border: 0px solid rgb(216, 221, 230);
}
.THIS .plain .slds-card__header{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #ffffff;
}
.THIS .plain .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #666c70;
}
.THIS .dropdown .slds-grow{
    width: 95%;
}
.THIS .emailInput{
    width:80%;
    border-radius: 0rem;
    border: none;
    border-color: transparent;
    outline: none;
}
.THIS .hide{
    display:none;
}
.THIS .show{
    display:table;
}
.THIS .bottomborder .slds-wrap{
    border-bottom: 1px solid rgb(216, 221, 230);
}
.THIS .slds-pill_container{
    border: 0px solid rgb(216, 221, 230);
}
.THIS.scrollerSize {
    height: 300px;
}
.THIS.slds-rich-text-editor.slds-has-focus {
    border-color: white;
    box-shadow: 0 0 0px #0070d2;
    border-bottom-width: 0px;
}

.THIS .showme{
    display:inline;
}
.THIS .hideme{
    display:none;
}

.THIS .font-red{
    color:red;   
}
.THIS .toggle .slds-form-element__label {
    display: inline-block; 
}

.THIS .slds-rich-text-area__content {
    min-height: 13rem;
    max-height: 4000rem;
}
.THIS .chk{
    margin-left:20px;
}
.THIS .bottomborder{
    border-bottom: 1px solid rgb(216, 221, 230);
}
.THIS .txtEdit{
    margin-top:0.5%
}