.THIS .slds-form-element__label{
    font-family: 'Salesforce Sans', Arial, sans-serif ;

    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: rgb(62, 62, 60);
    word-wrap: break-word;
}