.THIS .emailInput{
    width: auto;
    border-radius: 0rem;
    border: none;
    border-color: transparent;
    outline: none;
    height: 100%;
}
.THIS .hide{
    display:none;
}

.THIS .show{
    display:table;
}
.THIS .slds-wrap{
    border-bottom: 1px solid rgb(216, 221, 230);
}
.THIS .slds-pill_container{
    border: 0px solid rgb(216, 221, 230);
}
.THIS.scrollerSize {
    height: 300px;
}
.THIS .input {
    width: 94%;
}
.THIS .lightningInput {
    width: 96%;
}
.THIS .slds-textarea {
    width: 96%;
}
.THIS .DisplayNone {
    display:none;
}
.THIS li:first-child {
    display: block !important;
    margin-top: 5px;
}
.THIS .nowrap {
    border-bottom:0px ;
}
.THIS .searchinput {
    width: 92% !important;
}
.THIS .slds-form--inline .slds-form-element__label {
    /*display :block !important;*/
}
.THIS .slds-email-composer__combobox{
    padding-left: 0rem;
}
.THIS .slds-form-element__label, .THIS .form-element__label{
    font-family: 'Salesforce Sans', Arial, sans-serif ;
    font-size: 0.75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #706e6b;
    word-wrap: break-word;
}