/**
  * Authors		 : Parth Lukhi
  * Date created : 30/08/2017 
  * Purpose      :Stlyle sheet used for InteractionListView component
  * Dependencies : NA
  * -------------------------------------------------
  * Modifications:
                Date: 
                Purpose of modification:  
                Method/Code segment modified: 
*/


@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Start : PUX-189 */
/* Removed the CSS classes to InteractionListItem.css */
/*  End : PUX-189 */
.THIS .scroll{
   	
}
.THIS ::-webkit-scrollbar {
    width: 6px;
}
.THIS ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle //rgba(1, 52, 78, 1)
    background: rgba(255,0,0,0.8); 
background: rgba(255,0,0,0.4); 
*/
.THIS ::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
    border-radius: 10px;
   background: rgba(1, 52, 78, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.THIS ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(1, 52, 78, 0.4);
}

.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 40% !important;
}