/* Rahul P. | 24-09-2018 | CASP2-75 | starts */
.THIS .slds-form-element__label:empty, .THIS .slds-form-element__label:empty,.THIS .CoraAPFieldcriteria .slds-form-element__label:empty,.THIS .CoraAPESMSearchView  .slds-form-element__label:empty{
    display: none !important;
}

.THIS .input {
	min-height: calc(1.875rem + (1px * 2)) !important;
	
}
.THIS .select{
	min-height: calc(1.875rem + (1px * 2)) !important;
}

.THIS .mutli-select-picklist {
	height: 4rem !important;
}
.THIS .slds-pill__remove {
    width: 1.3rem !important;
    height: 1rem !important;
    background: white !important;
    z-index: 2 !important;
}

.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
   
}
.THIS .slds-datepicker {
  
    width: 20rem !important;
}
/* Rahul P. | 24-09-2018 | CASP2-75 | ends */