.THIS .slds-template__container {
	    background-color: white;
}

.THIS .Unassigned {
list-style-type:none;
}
.THIS .header-section {
    margin-top:40px;
}
.THIS .slds-p-around_small, .THIS .slds-p-around--small {
    padding: 0.5rem 0;
}

.THIS .slds-tabs--default__nav {
    background-color: #00a3e2;
    color: #fff;
}
.THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
}
.THIS .slds-tabs--default__link {
    text-decoration: none!important;
    color: #fff;
}
/*.THIS .slds-p-around_small, .THIS .slds-p-around--small {
    padding : 10px 0;
}*/
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding : 0;
}
.THIS .splitter-panel br{display:none;}
.THIS .slds-box {
    /*margin-top: 10px;*/
    width: 100%;
}
.THIS .custom-breadcrum {
        padding: 12px 0 0 10px;
}
.THIS .loadingClassCus{
    visibility: hidden;
    display:none;
}

.THIS .slds-tabs_default__nav {
    background-color: #00a3e2;
    color: #fff;
}

/* Vandita | ESMPROD-1303  | Start*/
.THIS .slds-spinner {
     margin-top: 16%; 
   
}
/*Vandita | ESMPROD-1303  | End*/
/* Added by Sonam | 07-23-2018 | CAS-1110 - CAS-1288 | Start */
.THIS .slds-show_btn {
    display: block;
    float: right;
}
/* Added by Sonam | 07-23-2018 | CAS-1110 - CAS-1288 | End */

/* Added by Sonam | 07-25-2018 | CAS-1288 | Start */
.THIS .btn_disable {
    color: #E7E5E4;
}
.THIS .slds-spinner {
    margin-top: 8%;
}
/* Added by Sonam | 07-25-2018 | CAS-1288 | End */

/* Added by Ram | 09-
20-2018 | CASP2-139  | Start */
.THIS .test{border: 1px #ccc solid; background:#fff;}
.THIS .new1{margin-top:0;
}
.THIS .new2{margin-top:22px;
}
/* Added by Ram | 09-20-2018 | CASP2-139  | End */