.THIS .attachmentScroller{
    height:455px;
}
.THIS .slds-card__body{
        margin-bottom: 0px;
        
}
.THIS .slds-card{
    margin-top: 0px !important;;
}
.THIS .slds-p-around--small{
    padding: 0.25rem;
}
.THIS .bottomborder .slds-wrap{
    border-bottom: 1px solid rgb(216, 221, 230);
}