.THIS .slds-tabs_default__content{
    padding-top:0px;
    padding-bottom:0px;
}
.THIS .slds-tabs--default__content{
    padding-top:0px;
    padding-bottom:0px;
}

.THIS .slds-tabs__nav-scroller {
    background-color: #f5f5f5!important;
    padding-bottom: 10px;
    /* background-color: red; */
    background-color: #f5f5f5!important;
}

.THIS .hide {
    display:none;
}
/* Vandita | ESMPROD-1303 | Start */
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav {
     background-color:#00a3e2;
}
/* Vandita | ESMPROD-1303 | end */