.THIS .common {
    background-color: #00a3e2;
    width: 6%;
    min-width:6%;
    min-height: 100vh;
}
.THIS.mybody {
     /* Vandita | ESMPROD-1303 | Start 
    overflow: auto; | strat*/
    overflow-x: hidden;
    overflow-y: auto;
       /* Vandita | ESMPROD-1303  | End*/
    min-height:100vh;
    background: #f5f6fa;
}
.THIS .center-algn{
    text-align:center;
}
.THIS .img-sidebar{
    padding:10px;
    
}


.THIS .padding-all{
    padding:5px;
    
}
.THIS .activeIcon{
    
    background :#0773a8;
    cursor:pointer;
}
.THIS .inActiveIcon{
    background :white;
    cursor:pointer;
    padding:10px;
    text-align:center;
}
.THIS .padding-side {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    height: 120%;
    vertical-align: middle;
    cursor:pointer;
    height: 61px;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    text-decoration-color: black;
    text-transform: none;
    
}
.THIS .full-size {
    height:100%;
    width:100%;
}
.THIS .sideImgDiv {
    background-color: red;
}

.THIS .sideTd {
    vertical-align: middle;
    cursor:pointer; 
    text-align: center;
    height:72px;
    width:72px;
}

.THIS .margin-top-5 {
    margin-top:5px;
}
.THIS .margin-top-10 {
    margin-top:10px;
}
.THIS .margin-top-15 {
    margin-top:15px;
}
.THIS .margin-top-20 {
    margin-top:20px;
}


.THIS .dropdown-1 {
    border:0px;
    border-bottom: 0.5px #b0b5b8;
}

.THIS .a {
    text-decoration: none !important;
}

.THIS li.slds-breadcrumb__item a {
    opacity: .5;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    text-align: left;
    color: #5e6468;
    text-decoration: none;
}
.THIS li.Unassigned a {
    font-family: 'Roboto',sans-serif;
    opacity: 1.5;
    font-size: 12px;
    text-align: left;
    color: #000000;
    font-weight: 500;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
    font-family: 'Roboto',sans-serif;
    text-transform: none;
    color: #5e6468;
}