/*
 * 
 * Authors		: Parth Lukhi
 * Date created : 17/08/2017 
 * Purpose      : nteractionListItem css used for displaying Particular Interaction Item
 * Dependencies :  NA
 * -------------------------------------------------
 *Modifications:
                Date:  09/11/2017 
                Purpose of modification:  PUX-235 : Getting Contact Name on interction 
                Method/Code segment modified: getContactListbyInter

*/

.THIS .showMailBtn {
    display: inline;
    z-index: 999;
}
.THIS .hideMailBtn {
    display: none;
    z-index: 999;
}
.THIS .toggleDisplay {
    display: none;
}
.THIS .greyFont1 {
    /*opacity: 0.7;
    color: #5e6468;
    */
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #b5b8ba;
}
.THIS .greyFont2 {
    font-size:16px;
    /*opacity: 0.9;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #545556;
}
.THIS .greyFont3 {
    color: #adb0b2;
    /*opacity: 0.7;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
}
.THIS .Rectangle-16 {
    padding-left: 5px;
    margin: 5px;
    float: left;
    border-radius: 1px;
    background-color: #dff4ff;
    border: solid 0.5px #c5e2f3;
}

/*---Parent Css---*/

/*
 * Start : PUX-189 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .unread-sub {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.27;
    text-align: left;
    color: #00a3e2;
    font-family: 'Roboto', sans-serif;
    font-style: normal!important;
    font-stretch: normal!important;
}
.THIS .read-sub {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.27;
    text-align: left;
    color:slategrey;
    font-family: 'Roboto', sans-serif;
    font-style: normal!important;
    font-stretch: normal!important;
}
.THIS .unread-greyFont1 {
    /*  opacity: 0.7;
    color: #000000;*/
    
    color: #5e5c5c;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: left;
}
.THIS .viewCotainer {
    padding: 15px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.THIS .profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
}
.THIS .profileImage_1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #512da8;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    margin-left: 5px;
}
.THIS .viewCotainer_1 {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.THIS .viewCotainer_2 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
}
/*
 * End : PUX-189 
*/
.THIS .buttonMargin {
    margin-bottom: 3px;
    margin-left: 3px;
}
.THIS .buttonFloat {
    float: right;
}

.THIS .customBtn{
        margin-top: 0px!important;
    border-top-width: 2px!important;
    border-bottom-width: 2px!important;
}
.THIS .slds-timeline__item_expandable:before {
    content: '';
    height:inherit !important;
    background: #dddbda;
    width: 2px;
    position: absolute;
    left: 2.95rem;
    top: 0;
    bottom: 0;  
    margin-top: 23px;
}

.THIS .slds-timeline__item_expandable {
    position: relative;
    padding-bottom: 1rem;
}

.THIS .slds-timeline__item_expandable .slds-media__figure {
    margin-right: 0.25rem;
    z-index: 1;
}

.THIS .slds-timeline__item_task:before {
    background: lightslategray;
}

.THIS a:link{
    text-decoration: none!important;
}

.THIS{
    font-family:'Salesforce Sans',Arial,sans-serif!important;
        padding: 6px;
}

.THIS .sortOption{
    padding-top: 4px;
    padding-bottom: 4px;
}

.THIS .sortOption:hover {
    background-color: rgb(236, 235, 234);
    border-radius: 5px;
}